/* FONT FAMILIES */
/* 
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;

*/

@media only screen and (max-width: 400px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
  }
  
  h1 {
    font-family: 'Permanent Marker', cursive;
  
  }
  
  /* START OF MAIN PAGE */
  
  .pagebody {
    background: linear-gradient(
      90deg,
      rgba(75, 78, 162, 1) 0%,
      rgba(225, 68, 68, 1) 100%
    );
    max-width: 100%;
  }
  
  /* HEADER */
  .charhead {
    max-width: 100%;
    /*margin: auto;*/
    display: flex;
    justify-content: space-between;
  }
  
  .charhead__title {
    margin-top: 25px;
    font-family: "Permanent Marker", cursive;
    font-size: 35px;
  }
  
  .charhead__title--link {
    text-decoration: none;
    color: white;
    margin-bottom: 25px;
  }
  
  .charhead__search {
    margin-top: 36px;
    margin-right: 0px;
    margin-bottom: 25px;
    padding: 8px;
    text-align: left;
    width: 250px;
    border-radius: 10px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
  }
  
  /* HORIZONTAL LINE */
  
  .charhead__division {
    color: white;
    margin: auto;
    max-width: 100%;
  }
  
  /* MAIN */
  
  .charmain {
    margin-top: 50px;
    max-width: 100%;
  }
  
  .charmain__cards {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 345px;
    grid-row-gap: 2.5rem;
    grid-column-gap: 3.5rem;
  }
  
  .charmain__carditem {
    margin-left: 45px;
    margin-right: 45px;
    background-color: #363333;
    border-radius: 20px;
    padding: 0.5rem;
    max-height: 330px;
    box-shadow: 6px 3px 3px #363333;
  }
  
  .charmain__img {
    margin-top: 8px;
    border-radius: 60%;
  }
  
  .charmain__img-div {
    text-align: center;
  }
  
  .charmain__title {
    /*text-align: left;*/
    font-family: "Permanent Marker", cursive;
    color: white;
    padding: 10px;
    font-size: 20px;
  }
  
  .charmain__bio {
    max-height: 90px;
    overflow: auto;
    color: #f8f8ff;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 12px;
  }
  
  .charmain__bio--button {
    padding: 4px;
    margin-top: 30px;
    margin-left: 10px;
    /*float: left;*/
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
  }
  
  .charmain__bio--link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: white;
    padding: 7px;
  }
  
  /* Footer */
  .charmain__footer {
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
  
  .charmain__footer--button {
    background-color: #4b7cfb;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    position:fixed;
    bottom:0px;
    margin-left: 40px;;
    
  }
  
  .charmain__footer--link {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
} 

@media only screen and (min-width: 400px) and (max-width: 700px){
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color:white;
    }
    
    h1 {
      font-family: 'Permanent Marker', cursive;
    
    }
    
    /* START OF MAIN PAGE */
    
    .pagebody {
      background: linear-gradient(
        90deg,
        rgba(75, 78, 162, 1) 0%,
        rgba(225, 68, 68, 1) 100%
      );
      max-width: 100%;
    }
    
    /* HEADER */
    .charhead {
      max-width: 100%;
      /*margin: auto;*/
      display: flex;
      justify-content: space-between;
    }
    
    .charhead__title {
      margin-top: 25px;
      font-family: "Permanent Marker", cursive;
      font-size: 35px;
    }
    
    .charhead__title--link {
      text-decoration: none;
      color: white;
      margin-bottom: 25px;
    }
    
    .charhead__search {
      margin-top: 36px;
      margin-right: 0px;
      margin-bottom: 25px;
      padding: 8px;
      text-align: left;
      width: 250px;
      border-radius: 10px;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 100;
      font-style: italic;
    }
    
    /* HORIZONTAL LINE */
    
    .charhead__division {
      color: white;
      margin: auto;
      max-width: 100%;
    }
    
    /* MAIN */
    
    .charmain {
      margin-top: 50px;
      max-width: 100%;
    }
    
    .charmain__cards {
      max-width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(45%,1fr));
      grid-auto-rows: 345px;
      grid-row-gap: 2.5rem;
      grid-column-gap: 1rem;
    }
    
    .charmain__carditem {
      margin-left: 30px;
      margin-right: 45px;
      background-color: #363333;
      border-radius: 20px;
      padding: 0.5rem;
      max-height: 330px;
      box-shadow: 6px 3px 3px #363333;
    }
    
    .charmain__img {
      margin-top: 8px;
      border-radius: 60%;
    }
    
    .charmain__img-div {
      text-align: center;
    }
    
    .charmain__title {
      /*text-align: left;*/
      font-family: "Permanent Marker", cursive;
      color: white;
      padding: 10px;
      font-size: 20px;
    }
    
    .charmain__bio {
      max-height: 90px;
      overflow: auto;
      color: #f8f8ff;
      padding: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 12px;
    }
    
    .charmain__bio--button {
      padding: 4px;
      margin-top: 30px;
      margin-left: 10px;
      /*float: left;*/
      margin-bottom: 10px;
      border-radius: 10px;
      border: 1px solid white;
      background-color: transparent;
    }
    
    .charmain__bio--link {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      color: white;
      padding: 7px;
    }
    
    /* Footer */
    .charmain__footer {
      margin-top: 50px;
      margin-bottom: 50px;
      
    }
    
    .charmain__footer--button {
      background-color: #4b7cfb;
      padding: 8px;
      padding-left: 45px;
      padding-right: 45px;
      border: none;
      border-radius: 10px;
      position:fixed;
      bottom:0px;
      margin-left:60px;
    }
    
    .charmain__footer--link {
      text-decoration: none;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
    }
  } 



@media only screen and (min-width: 700px) and (max-width: 992px){
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color:white;
    }
    
    h1 {
      font-family: 'Permanent Marker', cursive;
    
    }
    
    /* START OF MAIN PAGE */
    
    .pagebody {
      background: linear-gradient(
        90deg,
        rgba(75, 78, 162, 1) 0%,
        rgba(225, 68, 68, 1) 100%
      );
      max-width: 100%;
    }
    
    /* HEADER */
    .charhead {
      max-width: 100%;
      /*margin: auto;*/
      display: flex;
      justify-content: space-between;
    }
    
    .charhead__title {
      margin-top: 25px;
      font-family: "Permanent Marker", cursive;
      font-size: 35px;
    }
    
    .charhead__title--link {
      text-decoration: none;
      color: white;
      margin-bottom: 25px;
    }
    
    .charhead__search {
      margin-top: 36px;
      margin-right: 0px;
      margin-bottom: 25px;
      padding: 8px;
      text-align: left;
      width: 250px;
      border-radius: 10px;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 100;
      font-style: italic;
    }
    
    /* HORIZONTAL LINE */
    
    .charhead__division {
      color: white;
      margin: auto;
      max-width: 100%;
    }
    
    /* MAIN */
    
    .charmain {
      margin-top: 50px;
      max-width: 100%;
    }
    
    .charmain__cards {
      max-width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
      grid-auto-rows: 380px;
      grid-row-gap: 2.5rem;
      grid-column-gap: 0.5rem;
    }
    
    .charmain__carditem {
      margin-left: 30px;
      margin-right: 45px;
      background-color: #363333;
      border-radius: 20px;
      padding: 0.5rem;
      max-height: 330px;
      box-shadow: 6px 3px 3px #363333;
    }
    
    .charmain__img {
      margin-top: 8px;
      border-radius: 60%;
    }
    
    .charmain__img-div {
      text-align: center;
    }
    
    .charmain__title {
      /*text-align: left;*/
      font-family: "Permanent Marker", cursive;
      color: white;
      padding: 10px;
      font-size: 20px;
    }
    
    .charmain__bio {
      max-height: 90px;
      overflow: auto;
      color: #f8f8ff;
      padding: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 12px;
    }
    
    .charmain__bio--button {
      padding: 4px;
      margin-top: 50px;
      margin-left: 10px;
      /*float: left;*/
      margin-bottom: 10px;
      border-radius: 10px;
      border: 1px solid white;
      background-color: transparent;
    }
    
    .charmain__bio--link {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      color: white;
      padding: 7px;
    }
    
    /* Footer */
    .charmain__footer {
      margin-top: 50px;
      margin-bottom: 50px;
      
    }
    
    .charmain__footer--button {
      background-color: #4b7cfb;
      padding: 8px;
      padding-left: 45px;
      padding-right: 45px;
      border: none;
      border-radius: 10px;
      position:fixed;
      bottom:0px;
      margin-left:180px;
    }
    
    .charmain__footer--link {
      text-decoration: none;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
    }
  } 


@media only screen and (min-width: 992px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
  }
  
  h1 {
    font-family: 'Permanent Marker', cursive;
  
  }
  
  /* START OF MAIN PAGE */
  
  .pagebody {
    background: linear-gradient(
      90deg,
      rgba(75, 78, 162, 1) 0%,
      rgba(225, 68, 68, 1) 100%
    );
    max-width: 100%;
  }
  
  /* HEADER */
  .charhead {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .charhead__title {
    margin-top: 25px;
    font-family: "Permanent Marker", cursive;
    font-size: 35px;
  }
  
  .charhead__title--link {
    text-decoration: none;
    color: white;
    margin-bottom: 25px;
  }
  
  .charhead__search {
    margin-top: 36px;
    margin-right: 0px;
    margin-bottom: 25px;
    padding: 8px;
    text-align: left;
    width: 250px;
    border-radius: 10px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
  }
  
  /* HORIZONTAL LINE */
  
  .charhead__division {
    color: white;
    margin: auto;
    max-width: 80%;
  }
  
  /* MAIN */
  
  .charmain {
    margin-top: 50px;
    max-width: 100%;
  }
  
  .charmain__cards {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-auto-rows: 345px;
    grid-row-gap: 2.5rem;
    grid-column-gap: 3.5rem;
  }
  
  .charmain__carditem {
    background-color: #363333;
    border-radius: 20px;
    padding: 0.5rem;
    max-height: 330px;
    box-shadow: 6px 3px 3px #363333;
  }
  
  .charmain__img {
    margin-top: 8px;
    border-radius: 60%;
  }
  
  .charmain__img-div {
    text-align: center;
  }
  
  .charmain__title {
    /*text-align: left;*/
    font-family: "Permanent Marker", cursive;
    color: white;
    padding: 10px;
    font-size: 20px;
  }
  
  .charmain__bio {
    max-height: 90px;
    overflow: auto;
    color: #f8f8ff;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 12px;
  }
  
  .charmain__bio--button {
    padding: 4px;
    margin-top: 30px;
    margin-left: 10px;
    /*float: left;*/
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
  }
  
  .charmain__bio--link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: white;
    padding: 7px;
  }
  
  /* Footer */
  .charmain__footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .charmain__footer--button {
    background-color: #4b7cfb;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    border: none;
    border-radius: 10px;
    position:fixed;
    bottom:0px;
    left:40%;
  }
  
  .charmain__footer--link {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  
  /* END OF MAIN PAGE */


} 



/*****************************************/
/* START OF SINGLE CHARACTER PAGE STYLES */

.characterBody {
  background: linear-gradient(90deg, rgba(145,75,147,255) 0%, rgba(225,68,68,1) 100%);
  font-family: 'Roboto', sans-serif;

}

.container {
  width:90%;
  padding:1rem;
  margin:auto;
  text-align:center;
  background-color: #363333;
  border-radius: 20px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);

}

.characterCard__image {
 border-radius: 50%;
}

.characterCard__descriptionShort {
  font-style: italic;
  font-size:0.8rem;
}

.button {
  padding:1em;
  border-radius:0.5rem;
}

.button--italicBlue {
  background-color: #4B7CFB;
  font-style: italic;
}

.button--italicRed {
  background-color:#363333;
  border: #BF3A30 solid;
  font-style: italic;
  color:#BF3A30;
}


/* END OF SINGLE CHARACTER PAGE STYLES */
/***************************************/

/*****************************************/
/* START OF CREATE CHARACTER PAGE STYLES */

.imgPreview {
  border-radius: 50%;
  margin:auto;
  width: 150px;
  height: 150px;
  background-repeat:no-repeat;
  background-size: cover;
  border: white 3px solid;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display:flex;
  flex-direction: column;
}

input {
  padding:0.5rem;
  color:black; /* TO BE SET TO WHITE IF "MARKDOWN EDITOR" TOOL IN PLACE OF BASIC STANDARD HTML FORM*/
}

.input--hidden{
  display:none;

}
input:valid {
  background-color: #ceffce;
}

input:invalid {
  background-color: #ff968e;
}


/* END OF CREATE CHARACTER PAGE STYLES */
/***************************************/
